src/.vs/
src/Terra.AiModelRegistry.Api/bin/
src/Terra.AiModelRegistry.Api/obj/
src/Terra.AiModelRegistry.App/bin/
src/Terra.AiModelRegistry.App/obj/
src/Terra.AiModelRegistry.Resources/bin/
src/Terra.AiModelRegistry.Resources/obj/
src/Terra.AiModelRegistry.Api/Configuration/env.Development.json
src/Terra.AiModelRegistry.Api/Terra.AiModelRegistry.Api.csproj.user
